@model LMSG3.Core.Models.Dtos.UserDto

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register New User</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Full Name
            </th>
            <th>
                Email
            </th>
            <th>
              User Role
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
        }
        @foreach (var item in Model.users)
        { 
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FName) &nbsp; @Html.DisplayFor(modelItem => item.LName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.roles[i])
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>
