@model IEnumerable<LMSG3.Core.Models.Dtos.UserDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register New User</a>
</p>
<table data-toggle="table"
       data-classes="table table-hover table-condensed"
       data-striped="true"
       data-sort-order="desc"
       data-sort-name="StartTime"
       data-pagination="true"
       data-page-list="[5,10, 20, ALL]"
       data-page-size="20">
    <thead>
        <tr>
            <th data-sortable="true">
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th data-sortable="true">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th data-sortable="true">
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        { 
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    <a asp-controller="Users" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="Users" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-controller="Users" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
