@model LMSG3.Core.Models.Dtos.LiteratureAuthorDto

@{
    ViewData["Title"] = "Details";
}



<div>
    <h4>Author</h4><h6>@Model.FullName</h6>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class="col-sm-2">Works</dt>
        <dd class="col-sm-10">
            <ul>
                @foreach (var item in Model.Literatures)
                {
                    <li>@item.Title </li>
                }
            </ul>
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
