@model LMSG3.Core.Models.ViewModels.AssignmentUploadViewModel

@using (Html.BeginForm("Upload", "Student", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="@Model.ActivityId" />
    <h5 class="modal-title" id="assignmentModalLabel">@Model.ActivityName</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-body">
        <p>Deadline: @Model.EndDate</p>
        @Html.LabelFor(model => model.Name, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name)

        @Html.LabelFor(model => model.Name, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Description)
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Upload</button>
    </div>
}