@model LMSG3.Core.Models.Entities.Module

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Module</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index" asp-controller="Courses">Back to List</a>
</div>
<br />
<br />
<div class="form-content ">
    <h4 class="text-center"> _____ Module Documents_____</h4>

    <table data-toggle="table"
           data-classes="table table-hover table-condensed"
           data-striped="true"
           data-sort-order="desc"
           data-sort-name="UploadDate"
           data-pagination="true"
           data-page-list="[5,10,20,ALL]"
           data-page-size="20">
        <thead class="thead-dark">
            <tr>
                <th class="col-2" data-sortable="true">
                    Name
                </th>
                <th class="col-3" data-sortable="true">
                    Description
                </th>
                <th class="col-2" data-sortable="true">
                    UploadDate
                </th>
                <th class="col-2" data-sortable="true">
                    Type
                </th>
                <th class="col-3"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Documents)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UploadDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DocumentType.Name)
                    </td>
                    <td>
                        <a class="btn-sm btn-outline-primary" asp-controller="Documents" asp-action="Download" asp-route-path="@item.Path"><i class="bi bi-download"></i></a>

                        <a class="btn-sm btn-outline-primary" asp-controller="Documents" asp-action="Edit"  asp-route-id="@item.Id"> <i class="bi bi-pencil-square"></i> </a>

                        <a class="btn-sm btn-outline-primary" asp-controller="Documents" asp-action="Delete"  asp-route-id="@item.Id"> <i class="bi bi-trash"></i> </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>