@model IEnumerable<ModelListViewModel>
<thead>
    <tr>
        <th class="col-1"></th>

        <th class="col-3">
            @Html.DisplayNameFor(model => model.Name)
        </th>

        <th class="col-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th class="col-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </th>

        <th class="col-4"></th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="~/img/down.jpg" width="20" height="20" />
                <div style="display:none">
                    <table data-toggle="table"
       data-classes="table table-hover table-condensed"
       data-striped="true"
       data-sort-order="desc"
       data-sort-name="Name"
       data-pagination="true"
       data-page-list="[5,10,20,ALL]"
       data-page-size="20">

                        <partial name="CourseActivitiesPartial" model="@item.ActivitiesList" />

                    </table>

                </div>
            </td>
            <td>
                <a asp-controller="Modules" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>

            <td>
                <a class="btn-sm btn-outline-primary" asp-controller="Activities" asp-action="Create" asp-route-ModuleId="@item.Id">Add Activity</a>
                <a class="btn-sm btn-outline-primary" asp-controller="Modules" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                <a class="btn-sm btn-outline-primary" asp-controller="Modules" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i></a>
                <button class="btn btn-sm btn-outline-primary border border-0" onclick="OpenDocumentModal(@item.Id,'Modules')"><i class="bi bi-upload"></i></button>
            </td>
        </tr>
    }
</tbody>
<div class="modal fade" id="DocumentModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" id='DocumentModalContent'>
            </div>
        </div>
    </div>
</div>
