@model IEnumerable<LMSG3.Core.Models.Dtos.LiteratureDto>
@*@inject LMSG3.Web.Services.ILiteratureSelectService service*@

@{
    ViewData["Title"] = "Index";
}

<h1>Literatures</h1>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<form asp-action="Index">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="searchString" placeholder="Search literature by title..." />
        <!--<div class="input-group-append">
            <select   asp-items="*@@await service.GetLevelAsync()" class="form-control">
                <option selected="selected" value="">Please select</option>
            </select>
        </div>-->
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary"><i class="fa fa-search">Search</i></button>
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TitleSortParm"]">Title</a>
            </th>
            @*<th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["DescriptionSortParm"]">Description</a>
                </th>*@
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ReleaseDateSortParm"]">ReleaseDate</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["SubjectSortParm"]">Subject</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["LevelSortParm"]">Level</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TypeSortParm"]">Type</a>
            </th>
            <th></th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LevelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LiteraTypeName)
                </td>
                @*<td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>*@
            </tr>
        }
    </tbody>
</table>

