@model IEnumerable<LMSG3.Core.Models.Dtos.LiteratureDto>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
               
                <a asp-action="Index" class="link-secondary" asp-route-sortOrder="@ViewData["TitleSortParm"]">Title</a>
            </th>
        <th>
            <a asp-action="Index" class="link-secondary" asp-route-sortOrder="@ViewData["ReleaseDateSortParm"]">ReleaseDate</a>
        </th>
        <th>
         
            <a asp-action="Index" class="link-secondary" asp-route-sortOrder="@ViewData["SubjectSortParm"]">Subject</a>
        </th>
        <th>
            <a asp-action="Index" class="link-secondary" asp-route-sortOrder="@ViewData["LevelSortParm"]">Level</a>
        </th>
        <th>
            <a asp-action="Index" class="link-secondary" asp-route-sortOrder="@ViewData["TypeSortParm"]">Type</a>
        </th>
            <th><a asp-action="Create" class="btn btn-outline-secondary btn-sm" role="button" aria-pressed="true">Create New</a></th>
        </tr>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*<a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>*@
                    <a asp-action="Details" title="Click to view literature details"  class="link-secondary" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LevelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LiteraTypeName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="link-secondary"><i class="bi bi-pencil-square" style="font-size:24px"></i></a>

                    @*<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-secondary btn-sm" role="button" aria-pressed="true">Edit</a>*@
                    <!--<a asp-action="Details" asp-route-id="@item.Id">Details</a> |-->
                    <a asp-action="Delete" asp-route-id="@item.Id" class="link-secondary"><i class="bi bi-trash" style="font-size:24px"></i></a>
                    @*<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm" role="button" aria-pressed="true">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>


