@model IEnumerable<LMSG3.Core.Models.Dtos.LiteratureDto>

<table data-toggle="table"
       data-classes="table table-hover table-condensed"
       data-striped="true"
       data-sort-order="desc"
       data-sort-name="StartTime"
       data-pagination="true"
       data-page-list="[5,10, 20, ALL]"
       data-page-size="20">
    <thead class="thead-dark">
    <thead class="thead-dark">
        <tr>
            <th data-sortable="true">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th data-sortable="true">
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th data-sortable="true">
                @Html.DisplayNameFor(model => model.SubjectName)
            </th>
            <th data-sortable="true">
                @Html.DisplayNameFor(model => model.LevelName)
            </th>
            <th data-sortable="true">
                @Html.DisplayNameFor(model => model.LiteraTypeName)
            </th>
            <th>said</th>
            @*<th data-sortable="true">
                <a asp-action="Index" asp-route-sortOrder="@ViewData[" TitleSortParm"]"></a>
            </th>
            <th data-sortable="true">
                <a asp-action="Index" asp-route-sortOrder="@ViewData[" ReleaseDateSortParm"]"></a>
            </th>
            <th data-sortable="true">
                <a asp-action="Index" asp-route-sortOrder="@ViewData[" SubjectSortParm"]"></a>
            </th>
            <th data-sortable="true">
                <a asp-action="Index" asp-route-sortOrder="@ViewData[" LevelSortParm"]"></a>
            </th>
            <th data-sortable="true">
                <a asp-action="Index" asp-route-sortOrder="@ViewData[" TypeSortParm"]"></a>
            </th>
            <th></th>*@
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LevelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LiteraTypeName)
                </td>
                @*<td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>*@
            </tr>
        }
    </tbody>
</table>


