@model IEnumerable<LMSG3.Core.Models.Entities.Module>


    
<div class="row">
    <h5 class="mb-0 ">
        <a data-toggle="collapse" data-target="#module-info" aria-expanded="false" aria-controls="module-info">
            Course Modules
        </a>

    </h5>

    <hr />
    <br />

</div>   
            <div class=" card collapse" id="module-info ">
                <div class="card card-body">
                    <table class="table">
                        <thead>
                            <tr>

                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.StartDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.EndDate)
                                </th>


                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StartDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EndDate)
                                    </td>


                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        

