@model LMSG3.Core.Models.Dtos.LiteratureDto

<h2>@Model.Title</h2>
<div class="clearfix col-md-12">
    <div class="box col-md-4">
        <div class="thumbnail">
            <img alt="@Model.Title" src="https://ia600603.us.archive.org/view_archive.php?archive=/15/items/olcovers554/olcovers554-L.zip&file=5546156-L.jpg">
        </div>
    </div>
    <div class="box col-md-4">
        <div class="caption-full">
            <h3>Title</h3>
            <p>
                @Model.Title
            </p>
            <h3>Subject</h3>
            <p>@Model.SubjectName</p>
            <h3>Description</h3>
            <p>@Model.Description</p>
            <h4>Author</h4>
            <ul>
                @foreach (var item in Model.Authors)
                {
                    <li>@item.FullName </li>
                }
            </ul>
        </div>
     </div>
</div>
   
